<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnFailure="true"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="all">
            <directory>./tests</directory>
        </testsuite>

        <testsuite name="no-optional-deps">
            <directory>./tests</directory>
            <exclude>./tests/WatcherTest.php</exclude>
            <exclude>./tests/ExchangesTest.php</exclude>
        </testsuite>
    </testsuites>

</phpunit>
