version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.2-cli

    working_directory: ~/project
    steps:
      - checkout

      - run:
          name: Install PHP dependencies
          command: |
            sudo docker-php-ext-install pcntl

      - run:
          name: Install PHPUnit
          command: |
            composer require phpunit/phpunit:7.*

      - run:
          name: Run tests / Symfony 5^0
          command: |
            composer update -n --prefer-dist --no-suggest
            php vendor/bin/phpunit

      - run:
          name: Run tests / Symfony 4^3
          command: |
            composer update -n --prefer-dist --prefer-stable --no-suggest
            php vendor/bin/phpunit